<!DOCTYPE html>
<html>
<head>


  <link href="https://fonts.googleapis.com/css?family=Cantarell:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <script src="lodash.js"></script>
  <title>NewSocial</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    window.newSocialAssets = {
      firstImage: "<%= image_url("homepageimage.png") %>",
      cameraImage: "<%= image_url("camera-outline.png") %>",
      heart: "<%= image_url("greenheart.png") %>",
      likedHeart: "<%= image_url("likedheart.png") %>",
      bookmark: "<%= image_url("bookmark.png") %>",
      selectedBookmark: "<%= image_url("selectedbookmark.png") %>"
    }
  </script>




</head>
<body>

<%= yield %>

</body>
</html>
